.calculadora{
    background-color: rgba(0, 0, 0, 0.224);
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    border: 1px solid1 rgb(26, 44, 48);
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,black, crimson);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*Fechamento calculadora*/

.tela{
    color: rgba(0, 0, 0, 0.511);
    width: 93%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* font-size: 3rem; */
    margin-bottom: 20px;
    border: 3px solid  rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}/*Fechamento tela*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    }/*Fechamento linha*/

.configuracaoBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento configuracaoBotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 3px solid  rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(84, 84, 84);
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(168, 212, 228);
}

button:last-child{
    margin-right: 0;
    background-color: rgb(146, 146, 146);
}

.clear{
    width: 200px;
}