<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel D'Sintra</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>
</head>
<body>
    <!--Conteudo do cabeçalho da pagina-->
    <header>
        <!--secão de navegacão do html-->
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#quartos">Quartos</a></li>
                <li><a href="#vistas">Acomodaçoes</a></li>
                <li><a href="#buffet">Buffet</a></li>
                <li><a href="#localizacao">Contatos</a></li>
            </ul>
        </nav> <!--fechamento nav-->
    </header> <!--fechamento header-->

    <section id="home">
        <div class="inicio">
            <h1>{{mensagem}}</h1>
            <p>Passe suas ferias no melhor hotel de Balneário Camboriú</p>
        </div>
    </section><!--fechamento seçao-->
    <section id="quartos">
        <div class="quartos">
            <h2>Nossos quartos</h2>
            <p>Para todos os gostos</p>
            <img src="imagens/Imagem10.png">
            <img src="imagens/Imagem9.png">
            <img src="imagens/Imagem8.png">
        </div>
    </section><!--fechamento seçao-->

    <section id="vistas">
        <div class="vistas">
            <h3>Nossas acomodaçoes</h3>
            <p>O melhor para suas ferias</p>
            <img src="imagens/Imagem11.png">
            <img src="imagens/Imagem12.png">
            <img src="imagens/Imagem13.png">
    </section>
    <section id="buffet">
        <div class="Buffet">
            <h3>Nosso buffet</h3>
            <p>café da manha incluso no pacote</p>
            <img src="imagens/Imagem14.png">
        </div>
    </section>
    <section id="localizacao">
        <div class="loc">
            <h3>Nossos Contatos:</h3>
            <p>(47) 2104-4080</p>
            <p>Nossa localização:Av. Atlântica, 1040 - Centro, Balneário Camboriú - SC, 88330-009</p>
        </div>
    </section>


    <!--configuração do roda pé da página-->
    <footer>
        <p>Hotel D'Sintra o melhor hotel para vocé e sua familha</p>
    </footer>

    <script src="process.js"></script>
</body>
</html>