*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #fffafa;
    align-items: center;
    min-height: 100vh;
}
.mapBox{
    position: absolute;
    width: 500px;
    height: 400px;
    background: #fff;
    left: 60%;
    top: 90%;
    
}
.mapBox iframe{
    width: 100%;
    height: 100%;
    
}

header{
    background-color: rgb(54, 54, 54);
    color: rgb(203, 203, 203);
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction:inherit;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 10px;

}
nav ul li a{
    color:rgb(212, 212, 212);
    text-decoration: none;
}
section{
    padding: 20px;
}
.quartos{
    width: 90%;
    margin: 10px auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction:row;
    transform: translate(-1%, 0%);
}
.quartos2{
    width: 50%;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.quartos3{
    width: 22%;
    /* background-color: black; */
    justify-content: center;
    margin: 0;
    padding: 0;
}

.quartos2 img{
    /* max-width: 100%; */
    height:248px;
    /* margin-bottom: 15px; */
    /* border-radius: 10px; */
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.quartos3 img{
    /* max-width: 10%; */
    height:117px;
    margin: 5px;
    /* border-radius: 10px; */
}
footer{
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}
form{
    max-width: 400px;
    margin: 0 auto;
    
}
label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10x;
}

form input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(44, 44, 44);
    margin-bottom: 15px;

}
form button{
    padding: 10px;
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.inicio{
    text-align: center;
}
.logo{
    max-width: 100%;
    height:40px;
    margin: 5px;
    border-radius: 10px;
    margin-right: 20px;
    
}

.visaoG{
    font-size: 27px;
}
.nota1{
    font-size: 20px;
}
.nota2{
    font-size: 15px;
}
.symbols{
    display: flex;
    flex-direction:row;
}
#login{
    background-color: black;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(227, 227, 227);
    border-style: solid;
    border-color: rgb(54, 54, 54);
    border-radius: 10px;
}
.Cadastrados{
    position: absolute;
    left: 44%;
    top: 269%;
}
button{
    display: block;
    width: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    cursor:pointer;
    font-size: 1.1rem;
}
.login{
    background-color: rgb(54, 54, 54);
    position: absolute;
    left: 74%;
    top: 251%;
    font-size: 2rem;
    
}
.cadastrados{
    border-style: solid;
    border-color: grey;
    margin-bottom: 10px;
    padding: 5px;
    justify-content: space-evenly;
    margin-top: 10px;
}