body{
    /*estilos referentess ao corpo do html*/
    background-color:rgb(215, 215, 215);
    font-family:Verdana,sans-serif;
    color:rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: rgba(224, 48, 108, 1);
    margin-top: 35px;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;

}

li{
    margin: 15px;
}

a{
    display: block;
    text-align: center;
    color:rgb(246, 208, 255);
    background-color: rgb(25, 119, 243);
    padding: 10px 15px;
    border-radius:10px;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
}

a:hover{
    background-color:lightpink ;
    color:rgb(16, 16, 16)
}

.instagram{
    background-image: linear-gradient(to bottom, rgba(70, 100,202,1),
    rgba(241, 77, 90, 1), rgba(250, 174, 70, 1), rgba(247, 118, 54, 1) ) ;

}

.twitter{
    background-color: rgba(0, 174, 239,1);
}
