<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de viagens</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>
</head>
<body>
    <!--Conteudo do cabeçalho da pagina-->
    <header>
        <!--secão de navegacão do html-->
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#destinos">Destinos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav> <!--fechamento nav-->
    </header> <!--fechamento header-->

    <section id="home">
        <h1>{{mensagem}}</h1>
        <p>Explore o mundo conosco!!!</p>

    </section><!--fechamento seçao-->
    <section id="destinos">
        <h2>Destinos Populares</h2>
        <div class="destino">
            <img src="imagens/USA.jpg">
            <h3>New York - EUA</h3>
            <p>Cidade mais movimentada dos estados unidos</p>

        </div><!--Fechamento div destino1-->
        <div class="destino">
            <img src="./imagens/japan.jpg">
            <h3>Kyoto - Japão</h3>
            <p>Conheca a cultura japonesa</p>
        </div><!--fechamento div destino 2-->
    </section><!--fechamento seçao-->

    <section id="contato">
        <h2>Converse conosco</h2>
        <form>
            <labe for="nome">Nome:</labe>
            <input type="text" v-model="nome" required>
            <label for="email">E-mail:</label>
            <input type="email" v-model="email" required>
            <label for="msg">mensagem</label>
            <textarea v-model="msg" required></textarea>
            <button type="submit">Enviar</button>
        </form>

    </section>

    <!--configuração do roda pé da página-->
    <footer>
        <p>&coopy; 2023 Trivago. Todos os direitos reservados.</p>
    </footer>

    <script src="process.js"></script>
</body>
</html>