*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(153, 153, 153);
}
header{
    background-color: rgb(54, 54, 54);
    color: rgb(203, 203, 203);
    padding: 10px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 10px;

}
nav ul li a{
    color:rgb(212, 212, 212);
    text-decoration: none;
}
section{
    padding: 20px;
}
.destino{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 30x;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.destino img{
    max-width: 100%;
    height:auto;
    margin-bottom: 15px;
    border-radius: 10px;
}
footer{
    background-color: rgb(79, 79, 79);
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}
form{
    max-width: 400px;
    margin: 0 auto;
}
label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10x;
}

form input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(44, 44, 44);
    margin-bottom: 15px;

}
form button{
    padding: 10px;
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}