*{
    margin: 5px;
    padding: 0;
}
#menuHamb{
    display: none;
}
.menuBotao{
    display:block;
    height: 25px;
    width: 30px;
    position: relative;
    cursor: pointer;
    /* background-color: aqua; */
}
.hamburger,
.hamburger::before,
.hamburger::after
{
    display: block;
    background-color: grey;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    transition: background-color 0.3s ease;
    width: 100%;
    content: "";
}

.menuBotao:hover .hamburger,
.menuBotao:hover .hamburger::after,
.menuBotao:hover .hamburger::before
{
    background-color: rgb(24, 24, 24);
}


.hamburger::before{
    top: 8px;
    transition: background-color 0.3s ease;
}
.hamburger::after{
    bottom: 8px;
    transition: background-color 0.3s ease;
}
.menu{
    list-style: none;
    background-color: lightgray;
    position: absolute;
    top: 60px;
    left: 5px;
    width: auto;
    height: 0;
    transition: heigt 0.3s ease;
    overflow: hidden;
}
.menu.open{
    height: auto;
}
.menu li{
    margin: 10px;
    text-align: center;

}

.menu a{
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 18px;
}