.erro{
    color: red;
    font-size: 1.5rem;
}
.sucesso{
    color:rgb(0, 255, 0);
    font-size: 1.5rem;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    max-width: 500px;
    background-color: rgb(120, 120, 120);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(91, 91, 91);
    border-radius: 25px;
    text-align: center;

}
h1{
    margin-top: 0;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
label{
    margin-bottom: 8px;
}
input[type="text"], input[type="password"]{
    padding: 13px;
    margin-bottom: 12px;
}