.app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo{
    width: 89%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

body{
    background-color:rgb(215, 215, 215);
    font-family:Verdana,sans-serif;
    color:rgb(0, 0, 0);
}

button{
    margin-top: 5px;
    margin-bottom: 35px;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(45, 45, 45);
    cursor: pointer;
    color:bisque

}

button:hover{
    background-color: rgb(49, 49, 49);
}