<!DOCTYPE html> <!-- Declaração do tipo de documento como HTML5 -->

<!-- Tag raiz que engloba todo o conteúdo HTML. O atributo lang define o idioma principal do documento como português do Brasil. -->
<html lang="pt-br">

<head><!-- Cabeçalho do documento HTML, que contém metadados e referências a recursos externos. -->

    <meta charset="UTF-8"> <!-- Define a codificação de caracteres para UTF-8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Define a compatibilidade com o Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Define a escala inicial e a largura do viewport -->
    <title>Calculadora</title> <!-- Define o título da página como "Calculadora" -->
    <script src="vue.global.js"></script> <!-- Inclui o arquivo JavaScript "vue.global.js" -->
    <link rel="stylesheet" href="style.css"/> <!-- Inclui o arquivo CSS "style.css" para estilização -->
</head><!--Fechamento head-->
<body><!--Corpo do documento-->

    <div id="app"><!--Uma div com o ID "app". O ID é usado para identificar exclusivamente um elemento na página. Essa div pode ser usada como ponto de montagem para um aplicativo ou para agrupar elementos relacionados-->

        <div class="calculadora"><!--Outra div com a classe "calculadora". A classe é usada para selecionar elementos em CSS ou para associar comportamento específico a um conjunto de elementos. Essa div representa a área da calculadora.-->

            <div :style="{fontSize: tamanhoLetra}" class="tela"> <!--A diretiva :style permite aplicar estilos diretamente a um elemento HTML. Neste caso, estamos definindo o estilo de fonte (fontSize) com base em uma variável chamada "tamanhoLetra". O valor dessa variável será dinamicamente interpolado no estilo aplicado ao elemento.-->

                {{valorDisplay}} <!-- Exibe o valor do display da calculadora -->
            </div><!--Fechamento div tela-->

            <div class="configBotao"><!--a classe "configBotao" é usada para estilizar ou agrupar elementos relacionados dentro da calculadora-->

                <div class="linha"><!--A classe linha representa uma linha dentro da configuração dos botões da calculadora-->
                    <button @click="getNumero('7')">7</button> <!-- Botão para inserir o número 7 -->
                    <button @click="getNumero('8')">8</button> <!-- Botão para inserir o número 8 -->
                    <button @click="getNumero('9')">9</button> <!-- Botão para inserir o número 9 -->
                    <button @click="operacoes('/')">/</button> <!-- Botão para realizar a operação de divisão -->
                </div><!--Fechamento linha 1-->

                <div class="linha"><!--Linha 2 de elementos-->
                    <button @click="getNumero('4')">4</button> <!-- Botão para inserir o número 4 -->
                    <button @click="getNumero('5')">5</button> <!-- Botão para inserir o número 5 -->
                    <button @click="getNumero('6')">6</button> <!-- Botão para inserir o número 6 -->
                    <button @click="operacoes('*')">X</button> <!-- Botão para realizar a operação de multiplicação -->
                </div><!--Fechamento Linha 2-->

                <div class="linha"><!--Linha 3 de elementos-->
                    <button @click="getNumero('1')">1</button> <!-- Botão para inserir o número 1 -->
                    <button @click="getNumero('2')">2</button> <!-- Botão para inserir o número 2 -->
                    <button @click="getNumero('3')">3</button> <!-- Botão para inserir o número 3 -->
                    <button @click="operacoes('-')">-</button> <!-- Botão para realizar a operação de subtração -->
                </div><!--Fechamento linha 3-->

                <div class="linha"><!--Linha 4 de elementos-->
                    <button @click="getNumero('0')">0</button> <!-- Botão para inserir o número 0 -->
                    <button @click="decimal">.</button> <!-- Botão para inserir um ponto decimal -->
                    <button @click="operacoes('=')">=</button> <!-- Botão para realizar o cálculo final -->
                    <button @click="operacoes('+')">+</button> <!-- Botão para realizar a operação de adição -->
                </div><!--Fechamento Linha 4-->

                <div class="linha"><!--Linha 5 de elementos-->
                    <button @click="limpar" class="limpar">Limpar</button> <!-- Botão para limpar o display da calculadora -->
                </div><!--Fechamento linha 5-->
            </div><!--Fechamento div confiBotao-->
        </div><!--Fechamento div calculadora-->
    </div><!--Fechamento div principal-->
    <script src="process.js"></script><!-- Inclui o arquivo JavaScript "process.js" -->
</body><!--Fechamento body-->
</html><!--Fechamento html-->