.erro {
    color: red;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .sucesso {
    color: green;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .entrada {
    opacity: 1;
  }
  
  #app {
    max-width: 400px;
    background-color: rgb(120, 120, 120);
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 3px 5px black;
  }
  
  body {
    margin: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 7px;
    margin-top: 10px;
    font-size: 1.1rem;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding-top: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
  }
  
  button {
    display: block;
    width: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  button:hover {
    background-color: darkgrey;
  }
  
  div.box {
    background-color: azure;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    width: auto;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  ol {
    margin-top: 10px;
    list-style-type: none;
    align-items: center;
    padding: 0;
    justify-items: center;
  }
  
  li {
    border-style: solid;
    border-color: grey;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
  }
  
  .botao {
    margin-right: 5px;
    margin-top: 0px;
  }