.erro{
    color: red;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in
}
.sucesso{
    color:rgb(0, 255, 0);
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in
}
.entrada{
    opacity: 1;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    max-width: 500px;
    background-color: rgb(120, 120, 120);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(91, 91, 91);
    border-radius: 25px;
    text-align: center;

}
h1{
    margin-top: 0;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
label{
    margin-bottom: 8px;
}
input[type="text"], input[type="password"]{
    padding: 13px;
    margin-bottom: 12px;
}

button{
    width: 90px;
    height: 50px;
    margin-right: 5px;
    border: 3px solid  rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 100px;
}